---
layout: base
---

{%- include big-header.html -%}

<main>

    <div id="post-content" class="wide">
        <div id="post-margin">
            {{ content }}
        </div>
    </div>

    <div id="category-list">
        {% for category in site.data.categories %}

            <h2 class="list-break">{{ category.name }}</h2>
            {% for project in site.data.projects %}
                {% if project.type == category.name %}
                    <a href="{{ project.link }}" style="background-image: url('{{ project.image }}');"><h2>{{ project.name }}</h2></a>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </div>
</main>
